nav {
    display: flex;
    text-align: center;
    justify-content: space-between;
}

nav h1 {

    font-size: 2.3rem;
    font-weight: bold;
}

nav>div>img {
    margin: 0px 10px;
    height: 40px;
    width: 30px;
}

nav>div:first-child {
    display: flex;
    align-items: center;
}

nav>a {
    color: black;
    text-decoration: none;
    align-items: center;
    font-weight: 600;
    margin-top: 40px;
    font-size: 1.3rem;
    margin-right: 50px;
}

nav select {
    border: none;
    box-decoration-break: none;
    font-size: 1.3rem;
    font-weight: 600;
    text-align: center;
}

nav>span {
    font-size: 1.3rem;
    font-weight: 600;
    margin-top: 41px;
    margin-left: 50px;
}


/* .border {
    margin: -9px 200px;
    width: 90px;
    border: 3px solid #7c68ed;
} */



button {
    align-items: center;
    height: 30px;
    border-radius: 8px;
    margin-top: 40px;
    border: none;
    padding: 0px 10px;
}

.sign {
    background-color: #7c68ed;
    color: white;
}

.log {
    margin-right: 200px;
}