.navigation img {
    height: 10px;
    width: 10px;
}

h1 {
    font-size: 1.1rem;
}

.navigation {
    display: flex;
    place-items: center;
    justify-content: space-between;
}

.barTag>div {
    justify-content: space-between;
}