h2 {
    font-size: 2.7rem;
    margin: 0px 40px;
    margin-top: 30px;
}


.billing-section {
    display: flex;
    border: 1px solid lightgrey;
    padding: 2px 2px;
    width: 240px;
    text-align: center;
    border-radius: 8px;
    justify-content: space-between;
    margin: 0px 40px;
    margin-top: 20px;
}

.monthly {
    background-color: black;
    color: white;
    border-radius: 4px;
    margin: 1px 5px;
    padding: 5px;
}

.annual {
    background-color: white;
    border: none;
    padding: 5px;
    text-align: center;
}